.section{
  position: relative;
}

@screen md {
  .section:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -24px;
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #e5e7eb;
  }
}


